/node_modules
/public/css
/public/hot
/public/js
/public/mix-manifest.json
/public/storage
/public/uploads
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
_ide_helper.php
.phpunit.result.cache
*.iml
.DS_Store
